<div class='container mt-3'>
    <div class='row'>
        <div class='col-md-8 offset-md-2'>
            {{#each explain}}
                <div class='card mb-5'>
                    <div class='card-header'>ID
                        {{id}}
                        -
                        {{stock}}
                        -
                        {{fundAmount}}
                        USD
                        <button class='btn btn-danger float-end'>
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                width='16'
                                height='16'
                                fill='currentColor'
                                class='bi bi-x'
                                viewBox='0 0 16 16'
                            >
                                <path
                                    d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'
                                ></path>
                            </svg>
                        </button>
                    </div>
                    <div class='card-body'>
                        {{#if long}}
                            {{#with long}}
                                <h5 class='card-title'>Long
                                    <button class='btn btn-danger float-end'>
                                        <svg
                                            xmlns='http://www.w3.org/2000/svg'
                                            width='16'
                                            height='16'
                                            fill='currentColor'
                                            class='bi bi-x'
                                            viewBox='0 0 16 16'
                                        >
                                            <path
                                                d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'
                                            ></path>
                                        </svg>
                                    </button>
                                </h5>
                                <h6 class='card-subtitle text-muted'>{{state.main}} - {{state.inner}}</h6>
                                <table class='table mt-3 text-center'>
                                    <thead>
                                        <tr>
                                            <th>0.00</th>
                                            <th>0.35</th>
                                            <th>0.62</th>
                                            <th>0.85</th>
                                            <th>1.00</th>
                                            <th>1.43</th>
                                            <th>1.80</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{fib.f0_00}}</td>
                                            <td>{{fib.f0_35}}</td>
                                            <td>{{fib.f0_62}}</td>
                                            <td>{{fib.f0_85}}</td>
                                            <td>{{fib.f1_00}}</td>
                                            <td>{{fib.f1_43}}</td>
                                            <td>{{fib.f1_80}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class='table mt-3 text-center'>
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Amount</th>
                                            <th>Is open</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#with order}}
                                            <tr>
                                                <td>Enter</td>
                                                <td>{{enter.price}}</td>
                                                <td>{{enter.amount}}</td>
                                                <td>
                                                    {{#if enter.isOpen}}
                                                        <span class='text-success'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{else}}
                                                        <span class='text-muted'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Take</td>
                                                <td>{{take.price}}</td>
                                                <td>{{take.amount}}</td>
                                                <td>
                                                    {{#if enter.isOpen}}
                                                        <span class='text-success'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{else}}
                                                        <span class='text-muted'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Stop</td>
                                                <td>{{stop.price}}</td>
                                                <td>{{stop.amount}}</td>
                                                <td>
                                                    {{#if enter.isOpen}}
                                                        <span class='text-success'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{else}}
                                                        <span class='text-muted'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Safe</td>
                                                <td>{{safe.price}}</td>
                                                <td>{{safe.amount}}</td>
                                                <td>
                                                    {{#if enter.isOpen}}
                                                        <span class='text-success'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{else}}
                                                        <span class='text-muted'>
                                                            <svg
                                                                xmlns='http://www.w3.org/2000/svg'
                                                                width='16'
                                                                height='16'
                                                                fill='currentColor'
                                                                class='bi bi-circle-fill'
                                                                viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                        {{/with}}
                                    </tbody>
                                </table>
                                {{#if cancel.price}}<p class='card-text text-muted mb-1'>Cancel price - {{cancel.price}}</p>{{/if}}
                                {{#if cancel.price}}<p class='card-text text-muted'>Cancel time - {{cancel.time}}</p>{{/if}}
                            {{/with}}
                        {{/if}}
                        <hr class='mt-3'/>
                        {{#if long}}
                            {{#with short}}
                                <h5 class='card-title'>Short
                                    <button class='btn btn-danger float-end'>
                                        <svg
                                          xmlns='http://www.w3.org/2000/svg'
                                          width='16'
                                          height='16'
                                          fill='currentColor'
                                          class='bi bi-x'
                                          viewBox='0 0 16 16'
                                        >
                                            <path
                                              d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'
                                            ></path>
                                        </svg>
                                    </button>
                                </h5>
                                <h6 class='card-subtitle text-muted'>{{state.main}} - {{state.inner}}</h6>
                                <table class='table mt-3 text-center'>
                                    <thead>
                                    <tr>
                                        <th>0.00</th>
                                        <th>0.35</th>
                                        <th>0.62</th>
                                        <th>0.85</th>
                                        <th>1.00</th>
                                        <th>1.43</th>
                                        <th>1.80</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{fib.f0_00}}</td>
                                        <td>{{fib.f0_35}}</td>
                                        <td>{{fib.f0_62}}</td>
                                        <td>{{fib.f0_85}}</td>
                                        <td>{{fib.f1_00}}</td>
                                        <td>{{fib.f1_43}}</td>
                                        <td>{{fib.f1_80}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class='table mt-3 text-center'>
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Is open</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#with order}}
                                        <tr>
                                            <td>Enter</td>
                                            <td>{{enter.price}}</td>
                                            <td>{{enter.amount}}</td>
                                            <td>
                                                {{#if enter.isOpen}}
                                                    <span class='text-success'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{else}}
                                                    <span class='text-muted'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Take</td>
                                            <td>{{take.price}}</td>
                                            <td>{{take.amount}}</td>
                                            <td>
                                                {{#if enter.isOpen}}
                                                    <span class='text-success'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{else}}
                                                    <span class='text-muted'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stop</td>
                                            <td>{{stop.price}}</td>
                                            <td>{{stop.amount}}</td>
                                            <td>
                                                {{#if enter.isOpen}}
                                                    <span class='text-success'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{else}}
                                                    <span class='text-muted'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Safe</td>
                                            <td>{{safe.price}}</td>
                                            <td>{{safe.amount}}</td>
                                            <td>
                                                {{#if enter.isOpen}}
                                                    <span class='text-success'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{else}}
                                                    <span class='text-muted'>
                                                            <svg
                                                              xmlns='http://www.w3.org/2000/svg'
                                                              width='16'
                                                              height='16'
                                                              fill='currentColor'
                                                              class='bi bi-circle-fill'
                                                              viewBox='0 0 16 16'
                                                            >
                                                                <circle cx='8' cy='8' r='8'></circle>
                                                            </svg>
                                                        </span>
                                                {{/if}}
                                            </td>
                                        </tr>
                                    {{/with}}
                                    </tbody>
                                </table>
                                {{#if cancel.price}}<p class='text-muted mb-1'>Cancel price - {{cancel.price}}</p>{{/if}}
                                {{#if cancel.price}}<p class='text-muted'>Cancel time - {{cancel.time}}</p>{{/if}}
                            {{/with}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>