extends ../layout

include ../components/all

block body
    .container.mt-3
        .row
            .col-md-8.offset-md-2
                each task in explain
                    .card.mb-5
                        .card-header(style='') ID #{ task.id } - #{ task.stock } - #{ task.amount } USD
                            - var params = `?id=${task.id}`;
                                +cancel-x-button.float-end.pt-1(onclick=`window.location.href='/cancel-task${params}'`)
                        .card-body
                            h5.card-title= `${task.type} - ${task.side}`
                            h6.card-subtitle.text-muted #{ task.state || 'UNKNOWN' }
                            table.table.mt-3.text-center
                                thead
                                    tr
                                        th 0.00
                                        th 0.35
                                        th 0.62
                                        th 0.85
                                        th 1.00
                                        th 1.43
                                        th 1.80
                                tbody
                                    tr
                                        td -
                                        td -
                                        td -
                                        td -
                                        td -
                                        td -
                                        td -
                            table.table.mt-3.text-center
                                thead
                                    tr
                                        th Type
                                        th Price
                                        th Amount
                                        th Is open
                                tbody
                                    tr
                                        td Enter
                                        td #{ task.orderEnterPrice }
                                        td #{ task.orderEnterAmount }
                                        +order-marker(task.orderEnterIsOpen)
                                    tr
                                        td Take
                                        td #{ task.orderTakePrice }
                                        td #{ task.orderTakeAmount }
                                        +order-marker(task.orderTakeIsOpen)
                                    tr
                                        td Stop
                                        td #{ task.orderStopPrice }
                                        td #{ task.orderStopAmount }
                                        +order-marker(task.orderStopIsOpen)
                                    tr
                                        td Safe
                                        td #{ task.orderSafePrice }
                                        td #{ task.orderSafeAmount }
                                        +order-marker(task.orderSafeIsOpen)
                            if task.cancelTime
                                p.card-text.text-muted Cancel time - #{ task.cancelTime }
                else
                    p.h2.text-center(style='margin-top: 35vh') No any tasks
